body{
    background-color: #c9e0f2;
}
h1{
    color: white;
    font-size: 48px;
    font-family: 'Courier New', Courier, monospace;
}
h2{
    color: #074D8C;
    font-size: 48px;
    font-family: 'Courier New', Courier, monospace;
}
p{
    color: #80340D;
    margin-top: 1em;
    margin-bottom: 2em;
}
p2{
    color: white;
    font-size: 20px;
}
p3{
    color: black;
    font-size: 48px;
}
a {font-size: 48px}
a{    
color: rgb(28, 46, 88);
border: 5px solid white;
}
a2{    
    color: red;
    font-size: 32px
    }

@media screen and (max-width: 480px) {
    img {
        max-width: 100%;
        max-height: 100%;
        display: block;
      }
} 
@media all and (min-width: 481px) and (max-width: 768px) {
    img {
        max-width: 100%;
        max-height: 100%;
        display: block;
      }
}
@media all and (min-width: 769px) {
    h1 {
        font-size: 48px
    }
    img {
        max-width: 100%;
        max-height: 100%;
        display: block;
      }
}    